<!DOCTYPE html>
<html>
<head>
	<title>andrewt.net{% if page.title %} | {{ page.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/crosswords.css">
	<script type="text/javascript" src="/js/crosswords.js"></script>
	<script type="text/javascript" src="/js/footnote.js"></script>
	<!--script type="text/javascript" src="/js/phidias/phidias.js"></script-->
</head>
<body>
	<header class="banner">
		<h1><a href="/">Andrew Taylor</a></h1>
		<nav class="tabs">
			<ul>
			{% for link in site.pages %}
			{% if link.tab %}
				<li><a href="{{ link.url }}" class="{% if link.url == page.url %}current{% endif %}">{{ link.title }}</a></li>
			{% endif %}
			{% endfor %}
			</ul>
		</nav>
	</header>
	<article>
		{% if page.addTitle %}
		<h1 class="page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
		{% endif %}
		{{content}}
	</article>
	<footer class="banner">
		<p>
			Copyright &copy; 2016 Andrew Taylor
		</p>
		<ul class="links">
			<li><a href="http://twitter.com/Andrew_Taylor">Twitter</a></li>
			<li><a href="mailto:andrew@andrewt.net">Email</a></li>
			<li><a href="https://github.com/andrew-t">GitHub</a></li>
			<!--li><a href="https://www.youtube.com/channel/UCgTMAgV934hP5TMEB04LnWA">YouTube</a></li-->
			<li class="right"><a href="javascript:function fn(){var e,t,n,r,i,s,o,u;for(e=0;e<c.length;++e){t='',n=c[e],r=[n.offsetWidth,n.offsetHeight,100,1];for(i=0;i<4;++i){o=strength/r[i];for(u=0;u<4;++u)t+=(t?', ':'')+(Math.random()*o-o/2+(i==u))}s='transform '+time+'s',n.style.transition=s,n.style.mozTransition='-moz-'+s,n.style.webkitTransition='-webkit-'+s,n.style.transform=n.style.mozTransform=n.style.webkitTransform='matrix3d('+t+')'}}var ivl,strength,time,loop,c;strength=strength?strength*2:.05,time=time||2,loop=loop||!1,c=document.getElementsByTagName('*'),ivl&&clearInterval(ivl),loop&&(ivl=setInterval(fn,time*1e3)),fn()">Warp</a></li>
		</ul>
	</footer>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1802479-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>